<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>submission successfully</title>
</head>
<style>
h1{
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    width: 600px;
    margin-left: 330px;
    margin-top: 100px;
    color: rgb(11, 246, 168);
    background-color: antiquewhite;
}
</style>
<body>
    <h1>
        Submission successfully
    </h1>
    
</body>
</html>